{{define "index"}}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Media</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    <body>
        <ul class="list-group">
            {{range $filename, $mediaContent := .MediaList}}
            <li class="list-group-item">
                <span class="badge">{{$mediaContent.Duration}}</span>
                <span onclick="startMedia('{{$mediaContent.Path}}');">{{$mediaContent.Title}}</span>
            </li>
            {{end}}
        </ul>
        <span>
            <h2>Player</h2>
            <audio id="player" src="" controls>
                <a id="dload" href="">Download</a>
            </audio>
        </span>
        <script language="JavaScript" type="application/javascript">
            function startMedia(media) {
                console.log("startMedia(" + media + ")");
                var player = document.getElementById("player");
                console.log("player: ", player);
                var dload = document.getElementById("dload");
                console.log("dload:  ", dload);
                player.src = media;
                console.log("player.currentSrc: ", player.currentSrc);
                dload.href = media;
                console.log("dload.href: ", dload.href);

                player.play();
                console.log("player.play()");
            }
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
{{end}}