{{define "index"}}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Media</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    <body>
    <div class="container">
        <div class="col-md-8">
            <ul class="list-group">
                {{range $artist := .Artists}}
                <li class="list-group-item" data-toggle="collapse">
                    <span>{{ $artist.Name }}</span>
                    <ul>
                        <span>{{ range $album := $artist.Albums }}</span>
                        <li class="list-group-item" data-toggle="collapse">{{ $album.Name }}
                            <ul>
                                <span>{{ range $track := $album.Tracks }}</span>
                                <li class="list-group-item">
                                    <span class="badge">{{$track.Duration}}</span>
                                    <span onclick="startMedia('{{$track.Path}}', '{{ $album.CoverArtPath }}');">{{if ne $track.Track ""}}{{$track.Track}} - {{end}}{{$track.Title}}</span>
                                </li>
                                {{ end }}
                            </ul>
                        </li>
                        {{ end }}
                    </ul>
                </li>
                {{end}}
            </ul>
        </div>
        <div class="col-md-4">
            <div>
                    <h2>Player</h2>
                    <img src="/static/images/no-song.png" class="img-responsive" id="albumArt"/>
                    <audio id="player" src="" controls>
                        <a id="dload" href="">Download</a>
                    </audio>
                </span>
            </div>
            <div>
                <span>
                    <h2>Playlist</h2>
                </span>
            </div>
        </div>
    </div>
        <script language="JavaScript" type="application/javascript">
            function startMedia(media, artPath) {
                var player = document.getElementById("player");
                var dload = document.getElementById("dload");
                var albumArt = document.getElementById("albumArt");
                player.src = media;
                dload.href = media;
                albumArt.src = artPath;

                player.play();
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
{{end}}